[Unit]
Description=xivwiki.com service

[Service]
ExecStart=/root/.nvm/versions/node/v6.9.1/bin/node /opt/nodesvcs/xivwiki.com/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xivwiki

[Install]
WantedBy=multi-user.target
